---
import { sanityClient } from "sanity:client";
import { ArtistsQuery } from "../../groq";
import RootLayout from "../../layouts/RootLayout.astro";
import ArtistRow from "../../components/ArtistRow.astro";

const artists = await sanityClient.fetch<ArtistsQuery>(ArtistsQuery);
---

<RootLayout title="Artists | Oxmose">
  <h1 hidden>Artists | Oxmose</h1>

  <ul class="divide-y divide-black">
    {artists.map((artist) => <ArtistRow artist={artist} />)}
  </ul>
</RootLayout>
