---
import { sanityClient } from "sanity:client";

import RootLayout from "../../layouts/RootLayout.astro";
import ArtistRow from "../../components/ArtistRow.astro";

import type { Slug } from "sanity";

const artists: { name: string; slug: Slug }[] = await sanityClient.fetch(
  `*[_type == "artist" && defined(slug)] | order(publishedAt desc)`
);
---

<RootLayout title="Artists | Oxmose">
  <h1 hidden>Artists | Oxmose</h1>

  <ul class="divide-y divide-black">
    {artists.map((artist) => <ArtistRow artist={artist} />)}
  </ul>
</RootLayout>
