---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="à propos | Astro">
  <h1 hidden>à propos | Astro</h1>

  <section class="border-b border-black p-9 lg:p-10">
    <p class="text-oxe-md lg:text-oxe-xxl/[85px]">
      Oxmose is an independent french record label with a non-linear
      contemporary music vision, defining its sound identity through artistic
      concepts that blur genre lines, while also immersing the audience in a
      unique visual experience.
    </p>
  </section>

  <section class="border-b border-black p-9 lg:p-10"></section>

  <section class="border-b border-black p-9 lg:p-10">
    <p class="text-oxe-md lg:text-oxe-xxl/[85px]">
      At its core, Oxmose constantly searches for disruptive sound encounters,
      with resonances in philosophy, poetry, and visual arts. More than music
      production, we absorb ideas and transform them into musical narratives for
      sync and licensing projects for films, theatre, art installations and a
      variety of media of expression.
    </p>
  </section>

  <section class="border-b border-black p-9 lg:p-10"></section>

  <section class="border-b border-black p-9 lg:p-10">
    <p class="text-oxe-md lg:text-oxe-xxl/[85px]">
      From its early days back in 2014, Oxmose has remained an électron libre,
      advocating for artistic freedom and imaginative enquiry in shaping endless
      sonic landscapes.
    </p>
  </section>
</RootLayout>
