---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="à propos">
  <h1 hidden>à propos</h1>

  <section>
    <p>
      Oxmose is an independent french record label with a non-linear
      contemporary music vision, defining its sound identity through artistic
      concepts that blur genre lines, while also immersing the audience in a
      unique visual experience.
    </p>
  </section>
</RootLayout>
