---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Contact | Astro">
  <h1 hidden>Contact | Oxmose</h1>

  <section class="border-b border-black">
    <div class="p-10">
      <h2 class="text-oxe-xxl mb-10">General inquiry</h2>

      <p class="text-oxe-lg mb-28">Drop us a line to say hello.</p>

      <p class="text-oxe-xxl text-right">
        <a href="mailto:office@oxmose.com">office(at)oxmose.com</a>
      </p>
    </div>
  </section>
</RootLayout>
