---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Contact | Astro">
  <h1 hidden>Contact | Oxmose</h1>

  <section class="border-b border-black">
    <div class="p-10">
      <h2 class="text-oxe-xxl mb-10">General inquiry</h2>

      <p class="text-oxe-lg mb-28">Drop us a line to say hello.</p>

      <p class="text-oxe-xxl text-right">
        <a href="mailto:office@oxmose.com">office(at)oxmose.com</a>
      </p>
    </div>
  </section>

  <section class="border-b border-black grid grid-cols-2 divide-x divide-black">
    <div class="p-10">
      <h3 class="text-oxe-xxl mb-48">Listen</h3>

      <div class="flex justify-end">
        <ul class="list-disc list-inside text-oxe-lg">
          <li>Spotify</li>
          <li>Bandcamp</li>
          <li>Soundcloud</li>
        </ul>
      </div>
    </div>

    <div class="p-10">
      <h3 class="text-oxe-xxl mb-48">Follow</h3>

      <div class="flex justify-end">
        <ul class="list-disc list-inside text-oxe-lg">
          <li>Instagram</li>
          <li>Facebook</li>
          <li>X</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="border-b border-black">
    <div class="p-10">
      <h2 class="text-oxe-xxl mb-10">Demo</h2>

      <p class="text-oxe-lg mb-28">
        We are open to demo proposals, please submit digital formats, tapes or
        CDs with prior contact.
      </p>

      <p class="text-oxe-xxl text-right">
        <a href="mailto:demo@oxmose.com">demo(at)oxmose.com</a>
      </p>
    </div>
  </section>

  <section class="border-b border-black grid grid-cols-2 divide-x divide-black">
    <div class="p-10">
      <h3 class="text-oxe-xxl mb-48">Location</h3>

      <dl>
        <dt class="text-oxe-lg font-medium">Headquarters</dt>
        <dd class="text-oxe-lg">Paris</dd>
      </dl>

      <dl>
        <dt class="text-oxe-lg font-medium">Office/Studio</dt>
        <dd class="text-oxe-lg">Bucharest</dd>
      </dl>
    </div>

    <div class="p-10">
      <h3 class="text-oxe-xxl mb-48">Press kit</h3>

      <p class="text-oxe-xxl text-right">
        <a href="#press-kit">download</a>
      </p>
    </div>
  </section>

  <section>
    <div class="p-10">
      <h2 class="text-oxe-xxl mb-10">Sync</h2>

      <p class="text-oxe-lg mb-28">
        If you are inspired by Oxmose works and wish to use pieces from our
        catalogue for film, theatre or art projects, please get in touch with
        us.
      </p>

      <p class="text-oxe-xxl text-right">
        <a href="mailto:sync@oxmose.com"> sync(at)oxmose.com</a>
      </p>
    </div>
  </section>
</RootLayout>
