---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Contact | Astro">
  <h1 hidden>Contact | Oxmose</h1>

  <section
    class="flex min-h-96 flex-col border-b border-black p-9 lg:min-h-[30rem] lg:p-10"
  >
    <h2 class="mb-4 text-oxe-md lg:mb-10 lg:text-oxe-xxl">General inquiry</h2>

    <p class="text-oxe-sm lg:text-oxe-lg">Drop us a line to say hello.</p>

    <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
      <a href="mailto:office@oxmose.com">office(at)oxmose.com</a>
    </p>
  </section>

  <section
    class="flex min-h-96 flex-col gap-12 divide-black border-b border-black p-9 lg:grid lg:min-h-[32rem] lg:grid-cols-2 lg:gap-0 lg:divide-x lg:p-0"
  >
    <div class="grid grid-cols-2 lg:p-10">
      <h3 class="text-oxe-md lg:text-oxe-xxl">Listen</h3>

      <ul class="lg:list-inside lg:list-disc lg:self-end">
        <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
          <a href="#Spotify">Spotify</a>
        </li>
        <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
          <a href="#Bandcamp">Bandcamp</a>
        </li>
        <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
          <a href="#Soundcloud">Soundcloud</a>
        </li>
      </ul>
    </div>

    <div class="grid grid-cols-2 lg:p-10">
      <h3 class="text-oxe-md lg:text-oxe-xxl">Follow</h3>

      <ul class="lg:list-inside lg:list-disc lg:self-end">
        <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
          <a href="#Instagram">Instagram</a>
        </li>
        <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
          <a href="#Facebook">Facebook</a>
        </li>
        <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
          <a href="#X">X</a>
        </li>
      </ul>
    </div>
  </section>

  <section
    class="flex min-h-96 flex-col border-b border-black p-9 lg:min-h-[30rem] lg:p-10"
  >
    <h2 class="mb-4 text-oxe-md lg:mb-10 lg:text-oxe-xxl">Demo</h2>

    <p class="text-oxe-sm lg:text-oxe-lg">
      We are open to demo proposals, please submit digital formats, tapes or CDs
      with prior contact.
    </p>

    <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
      <a href="mailto:demo@oxmose.com">demo(at)oxmose.com</a>
    </p>
  </section>

  <section
    class="divide-y divide-black border-b border-black lg:grid lg:grid-cols-2 lg:divide-x lg:divide-y-0"
  >
    <div
      class="flex min-h-96 flex-row p-9 lg:min-h-[32rem] lg:flex-col lg:p-10"
    >
      <h3 class="flex-1 text-oxe-md lg:flex-auto lg:text-oxe-xxl">Location</h3>

      <div
        class="flex flex-1 flex-col justify-between gap-10 lg:mt-auto lg:flex-initial lg:flex-row"
      >
        <dl>
          <dt class="text-oxe-sm font-medium lg:text-oxe-lg">Headquarters</dt>
          <dd class="text-oxe-sm lg:text-oxe-lg">Paris</dd>
        </dl>

        <dl>
          <dt class="text-oxe-sm font-medium lg:text-oxe-lg">Office/Studio</dt>
          <dd class="text-oxe-sm lg:text-oxe-lg">Bucharest</dd>
        </dl>
      </div>
    </div>

    <div class="flex min-h-96 flex-col p-9 lg:min-h-[32rem] lg:p-10">
      <h3 class="text-oxe-md lg:text-oxe-xxl">Press kit</h3>

      <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
        <a href="#press-kit">download</a>
      </p>
    </div>
  </section>

  <section class="flex min-h-96 flex-col p-9 lg:min-h-[30rem] lg:p-10">
    <h2 class="mb-4 text-oxe-md lg:mb-10 lg:text-oxe-xxl">Sync</h2>

    <p class="text-oxe-sm lg:text-oxe-lg">
      If you are inspired by Oxmose works and wish to use pieces from our
      catalogue for film, theatre or art projects, please get in touch with us.
    </p>

    <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
      <a href="mailto:sync@oxmose.com">sync(at)oxmose.com</a>
    </p>
  </section>
</RootLayout>
