---
import RootLayout from "../layouts/RootLayout.astro";

import CatalogueCard from "../components/CatalogueCard.astro";
import { sanityClient } from "sanity:client";
import { ReleasesQuery } from "../groq";

const releases = await sanityClient.fetch<ReleasesQuery>(ReleasesQuery);
---

<RootLayout title="Catalogue | Oxmose">
  <h1 hidden>Catalogue | Oxmose</h1>

  <div
    class="divide-y divide-black bg-black md:grid md:grid-cols-2 md:gap-px md:divide-y-0"
  >
    {releases.map((release) => <CatalogueCard release={release} />)}
  </div>
</RootLayout>
