---
import RootLayout from "../layouts/RootLayout.astro";
import Prose from "../components/Prose.astro";

import { Content as PrivacyPolicyEn } from "../content/privacy-policy-en.md";
import { Content as PrivacyPolicyFr } from "../content/privacy-policy-fr.md";
---

<RootLayout title="Privacy policy | Astro">
  <div class="grid grid-cols-2 divide-x divide-black">
    <section lang="en" class="p-10">
      <div class="flex gap-8 mb-28">
        <h2 class="text-oxe-xxl leading-none flex-1">Privacy policy</h2>

        <p class="text-oxe-xxl leading-none shrink-0">En</p>
      </div>

      <Prose>
        <PrivacyPolicyEn />
      </Prose>
    </section>

    <section lang="fr" class="p-10">
      <div class="flex gap-8 mb-28">
        <h2 class="text-oxe-xxl leading-none flex-1">
          Politique de confidentialité
        </h2>

        <p class="text-oxe-xxl leading-none shrink-0">Fr</p>
      </div>

      <Prose>
        <PrivacyPolicyFr />
      </Prose>
    </section>
  </div>
</RootLayout>
