---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Terms and conditions | Astro">
  <div class="grid grid-cols-2 divide-x divide-black">
    <section lang="en" class="p-10">
      <div class="flex gap-8 mb-28">
        <h2 class="text-oxe-xxl leading-none flex-1">Terms and conditions</h2>

        <p class="text-oxe-xxl leading-none shrink-0">En</p>
      </div>

      <div class="text-oxe-sm leading-[30px]">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fuga nobis
          fugiat assumenda illo eligendi, illum molestiae. Cupiditate id, porro
          soluta saepe officia laudantium molestias, tempore, inventore neque
          blanditiis veritatis.
        </p>
      </div>
    </section>

    <section lang="fr" class="p-10">
      <div class="flex gap-8 mb-28">
        <h2 class="text-oxe-xxl leading-none flex-1">Conditions générales</h2>

        <p class="text-oxe-xxl leading-none shrink-0">Fr</p>
      </div>

      <div class="text-oxe-sm leading-[30px]">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fuga nobis
          fugiat assumenda illo eligendi, illum molestiae. Cupiditate id, porro
          soluta saepe officia laudantium molestias, tempore, inventore neque
          blanditiis veritatis.
        </p>
      </div>
    </section>
  </div>
</RootLayout>
