---
import RootLayout from "../layouts/RootLayout.astro";
import Prose from "../components/Prose.astro";

import { Content as TermsEn } from "../content/terms-and-conditions-en.md";
import { Content as TermsFr } from "../content/terms-and-conditions-fr.md";
---

<RootLayout title="Terms and conditions | Astro">
  <div class="grid grid-cols-2 divide-x divide-black">
    <section lang="en" class="p-10">
      <div class="flex gap-8 mb-28">
        <h2 class="text-oxe-xxl leading-none flex-1">Terms and conditions</h2>

        <p class="text-oxe-xxl leading-none shrink-0">En</p>
      </div>

      <Prose>
        <TermsEn />
      </Prose>
    </section>

    <section lang="fr" class="p-10">
      <div class="flex gap-8 mb-28">
        <h2 class="text-oxe-xxl leading-none flex-1">Conditions générales</h2>

        <p class="text-oxe-xxl leading-none shrink-0">Fr</p>
      </div>

      <Prose>
        <TermsFr />
      </Prose>
    </section>
  </div>
</RootLayout>
