---

---

<footer class="shrink-0 bg-black py-[13px] text-white">
  <nav class="flex gap-10 pl-10 pr-20">
    <a class="whitespace-nowrap text-oxe-sm uppercase" href="/publishing">
      Publishing
    </a>

    <a
      class="whitespace-nowrap text-oxe-sm uppercase"
      href="/terms-and-conditions"
    >
      Terms
    </a>

    <a class="whitespace-nowrap text-oxe-sm uppercase" href="/privacy-policy">
      Privacy
    </a>

    <span class="ml-auto whitespace-nowrap text-oxe-sm uppercase">
      {`© ${new Date().getFullYear()} Oxmose`}
    </span>
  </nav>
</footer>
