---

---

<footer class="bg-black text-white py-[13px] shrink-0">
  <nav class="pl-10 pr-20 flex gap-10">
    <a class="text-oxe-sm uppercase whitespace-nowrap" href="/publishing">
      Publishing
    </a>

    <a class="text-oxe-sm uppercase whitespace-nowrap" href="/follow">
      Follow
    </a>

    <a class="text-oxe-sm uppercase whitespace-nowrap" href="/newsletter">
      Newsletter
    </a>

    <a
      class="text-oxe-sm uppercase whitespace-nowrap"
      href="/terms-and-conditions"
    >
      Terms
    </a>

    <a class="text-oxe-sm uppercase whitespace-nowrap" href="/privacy-policy">
      Privacy
    </a>

    <span class="ml-auto text-oxe-sm uppercase whitespace-nowrap">
      {`© ${new Date().getFullYear()} Oxmose`}
    </span>
  </nav>
</footer>
