---
import Logo from "../shared/Logo.astro";
---

<nav class="bg-white w-full border-b border-black grid grid-cols-2 py-6">
  <div class="px-10">
    <a href="/">
      <span class="sr-only">Back to Catalogue</span>
      <Logo />
    </a>
  </div>

  <div class="px-10 flex items-center justify-center gap-10">
    <a class="text-oxe-sm font-medium uppercase whitespace-nowrap" href="/">
      Catalogue
    </a>

    <a
      class="text-oxe-sm font-medium uppercase whitespace-nowrap"
      href="/artists"
    >
      Artists
    </a>

    <a
      class="text-oxe-sm font-medium uppercase whitespace-nowrap"
      href="/about"
    >
      à propos
    </a>

    <a
      class="text-oxe-sm font-medium uppercase whitespace-nowrap"
      href="/contact"
    >
      Contact
    </a>
  </div>
</nav>
