---
import Logo from "../shared/Logo.astro";
---

<nav class="bg-white h-28 w-full">
  <div class="flex">
    <Logo />

    <div class="ml-auto flex gap-10">
      <a class="uppercase" href="/">Catalogue</a>

      <a class="uppercase" href="/artists">Artists</a>

      <a class="uppercase" href="/about">à propos</a>

      <a class="uppercase" href="/contact">Contact</a>
    </div>
  </div>
</nav>
