---
import Player from "../components/Player";
import CommonHead from "../components/CommonHead.astro";
import NavBar from "../components/NavBar.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <CommonHead title="Astro" decription="Astro" />
  </head>

  <body>
    <NavBar />

    <slot />

    <Player client:idle transition:persist="media-player" />
  </body>
</html>
