---
import Player from "../components/Player";
import CommonHead from "../components/CommonHead.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
  mainClassName?: string;
}

const { title, description, mainClassName = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <CommonHead title={title} description={description} />
  </head>

  <body class="flex min-h-svh flex-col">
    <NavBar />

    <main class:list={["flex-1", mainClassName]}>
      <slot />
    </main>

    <Footer />

    <Player client:idle transition:persist="media-player" />
  </body>
</html>
